      /*                Подключение шрифтов                */ 
@font-face {
    font-family: 'ROCK';
    src: url('fonts/ROCK.eot');
    src: url('fonts/ROCK.eot') format('embedded-opentype'),
         url('fonts/ROCK.woff2') format('woff2'),
         url('fonts/ROCK.woff') format('woff'),
         url('fonts/ROCK.ttf') format('truetype'),
         url('fonts/ROCK.svg#ROCK') format('svg');
}
@font-face {
    font-family: 'calibriregular';
    src: url('fonts/calibriregular.eot');
    src: url('fonts/calibriregular.eot') format('embedded-opentype'),
         url('fonts/calibriregular.woff2') format('woff2'),
         url('fonts/calibriregular.woff') format('woff'),
         url('fonts/calibriregular.ttf') format('truetype'),
         url('fonts/calibriregular.svg#calibriregular') format('svg');
}
       /*                     Шрифты и фон                  */
body {
    font-family: "ROCK";
    background-image: url('../img/Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
       /*                     Навигация                  */
.navbar {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    background: white;    
}
        /*                     Слайдер                  */
.slider {
    background: white;
    padding-bottom: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
}
        /*                     Контент                  */
.content {
    background-color: white;
    margin-top: 10px;
    padding-top: 15px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75); 
    margin-bottom: 10px; 
    padding-bottom: 20px; 
}
        /*                     Логотип                */
.logo {
    text-align: center;
    font-size: 80px;
    margin-bottom: 30px;
}
       /*                     Ссылки                 */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
         /*              Переход на подробнее           */
.more {
    text-decoration: underline;
    text-align: right;
}
          /*                     Текст                 */
p {
    text-indent: 40px;
    text-align: justify; 
}
           /*                     Инфо                 */ 
.info {
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    padding-bottom: 20px;
    margin-bottom: 10px;
     
}
       /*                     Футер                 */ 
ul.futer li {
    display: inline;
    padding-right: 15px;
}
.fut {
    background-color: white;
    margin-top: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.75);
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    font-family: "calibriregular";
}
         /*                     Поиск                */
.form-group {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 8px;
    padding-right: 60px;
}






    

    
    
    
   
    
    



    



